/* #################################### */
/* ###########  Stylesheet  ########### */
/* #################################### */

/* ####  MAIN DESIGN ELEMENTS   ####    */
/* you have to change the css in this   */
/* section if you code your own style   */

body
{
    background-image: url('../img/design/background.jpg');
    background-repeat: repeat;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: #fff 1px 1px;
}
#wrapper
{
    margin: 0 auto;
    text-align: left;
    width: 960px;
}
#left
{
    float:left;
    width: 700px;
}
#right
{
    float:right;
    width: 250px;
}
#box
{
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 10px 0;
    moz-border-radius: 3px;
    moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 7px 10px 7px 10px;
    webkit-border-radius: 3px;
    webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
#box #footer_copyright{
    text-align: center;
}
#admin_box
{
    background: #FFF3E0;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 10px 0;
    moz-border-radius: 3px;
    moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 7px 10px 7px 10px;
    webkit-border-radius: 3px;
    webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
#answerbox
{
    background: #F3F3F3;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 10px 0;
    moz-border-radius: 3px;
    moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 7px 10px 7px 10px;
    webkit-border-radius: 3px;
    webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
#headerlogo
{
    font-family: 'Open Sans',sans-serif;
    font-size: 18px;
    font-weight: 800;
    background-image: url('../img/design/header.jpg');
    background-repeat: repeat;
    height: 113px;
}
#headertitle
{
    position: relative;
    top: 73px;
    left: 10px;
}
.headertext
{
    color: #555;
    font-family: 'Open Sans',sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.navleft
{
    float: left;
    text-align: left;
}
.navright
{
    text-align: right;
}

/* #### NAVIGATIONS   ####    */
/* navigation */
#navigation
{
    background: #F3F3F3;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 0 0 10px 0;
    moz-border-radius: 3px;
    moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 7px 10px 7px 10px;
    webkit-border-radius: 3px;
    webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
#navigation a
{
    background: #ffffff;
    border: 1px solid #e0e0e0;
    color: #444;
    margin: 0 1px;
    padding: 4px 7px;
    text-decoration: none;
    border-radius: 3px;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;

}
#navigation a:hover,#navigation a:active
{
    background: #f8f8f8;
    border: 1px solid #B4B4B4;
    color: #737373;
    text-decoration: none;
}
/* admin navigation */
ul.column_result {
    margin: 5px 0;
    padding:0;
}
ul.column_result li {
    padding-left:5px;
    line-height: 25px;
    border-bottom: 1px dotted #ccc;
    list-style: none;
}
ul.column_result li a {
    display: block;
    color: #555;
}
ul.column_result li a:hover {
    color: #08c;
}

ul.column_result .result_column {
    background-color:#E9DAC3;
    padding-left:5px;
}
/* admin navigation - end */
/* navigation */
ul.column_result2 {
    margin: 5px 0;
    padding:0;
}
ul.column_result2 li {
    padding-left:5px;
    line-height: 25px;
    border-bottom: 1px dotted #ccc;
    list-style: none;
}
ul.column_result2 li.online {
    background-color: #E6FFC2;
    color:#324E0A;
    padding: 0px 0px 0px 30px;
    background-image: url('../img/icons/online.png');
    background-repeat: no-repeat;
    background-position:5px;
}
ul.column_result2 li.refused {
    background-color: #ffcc66;
    opacity: 0.8;
    padding: 0px 0px 0px 30px;
    background-image: url('../img/icons/refused.png');
    background-repeat: no-repeat;
    background-position:5px;
}
ul.column_result2 li.offline {
    background-color: #FFC2C2;
    color:#870008;
    padding: 0px 0px 0px 30px;
    background-image: url('../img/icons/offline.png');
    background-repeat: no-repeat;
    background-position:5px;
}
ul.column_result2 li a {
    display: block;
    color: #555;
}
ul.column_result2 li a:hover {
    color: #08c;
}

ul.column_result2 .result_column {
    background-color:#E5E5E5;
    padding-left:5px;
}
/* navigation - end */

/* ####  OTHER DESIGN ELEMENTS   ####    */
/* links and other text styles */
a
{
    color: #06a;
    text-decoration: none;
}
a:hover
{
    color: #08c;
    text-decoration: none;
}
a.blue:link,a.blue:visited
{
    background: #08c;
    border: 1px solid #06a;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    moz-border-radius: 3px;
    padding: 2px 5px 2px 5px;
    text-shadow: #004472 1px 1px;
    webkit-border-radius: 3px;
    width: auto;
}
a.gray:link,a.gray:visited
{
    background: #EAEAEA;
    border: 1px solid #C2C2C2;
    border-radius: 3px;
    color: #3E3E3E;
    cursor: pointer;
    moz-border-radius: 3px;
    padding: 2px 5px 2px 5px;
    text-shadow: #fff 1px 1px;
    webkit-border-radius: 3px;
    width: auto;
}
a.yellow:link,a.yellow:visited
{
    background: #CC6E00;
    border: 1px solid #AA5C00;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    moz-border-radius: 3px;
    padding: 2px 5px 2px 5px;
    text-shadow: #6B3A00 1px 1px;
    webkit-border-radius: 3px;
    width: auto;
}
a.red:link,a.red:visited
{
    color: #FF0000;
    cursor: pointer;
    text-shadow: #fff 1px 1px;
}
h1
{
    color: #555;
    font-family: 'Open Sans',sans-serif;
    font-size: 16px;
    font-weight: 400;
}
h2
{
    font-size: 13px;
    background-color: #F0F0F0;
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
    padding: 5px 5px 5px 5px;
    margin: 0px 0px 10px 0px;
}
hr
{
    background-color: #eaeaea;
    border-width: 0;
    color: #eaeaea;
    height: 1px;
    line-height: 0;
    page-break-after: always;
    text-align: center;
    width: 100%;
}
input[type=text],input[type=password],textarea,select
{
    background-color: #f4f4f4;
    border: 1px solid #bfbfbf;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    color: #666;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin: 6px 0 5px 0;
    moz-border-radius: 3px;
    moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 6px;
    webkit-border-radius: 3px;
    webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
input[type=submit],input.submit
{
    background: #08c;
    border: 1px solid #06a;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15px;
    moz-border-radius: 3px;
    padding: 5px;
    text-shadow: #004472 1px 1px;
    webkit-border-radius: 3px;
    width: auto;
}
input[type=submit]:hover,input[type=submit]:focus,input.submit:hover,input.submit:focus
{
    background: #06a;
    text-shadow: #004472 1px 1px;
}
*:focus {
    outline: 0 !important;
}

/* downloadbutton */
#download_button
{
    position: relative;
    top: 24px;
    left: 710px;
    width: 231px;
    text-align: center;
    font-size: 15px;;
    border: 1px solid #06a;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    moz-border-radius: 3px;
    padding: 7px 10px 7px 7px;
    text-shadow: #004472 1px 1px;
    webkit-border-radius: 3px;

    background: rgb(0,136,204); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(0,136,204,1) 0%, rgba(0,126,175,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,136,204,1)), color-stop(100%,rgba(0,126,175,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,136,204,1) 0%,rgba(0,126,175,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,136,204,1) 0%,rgba(0,126,175,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,136,204,1) 0%,rgba(0,126,175,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(0,136,204,1) 0%,rgba(0,126,175,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0088cc', endColorstr='#007eaf',GradientType=0 ); /* IE6-9 */
}
#download_button:hover
{
    background: rgb(46,151,204); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(46,151,204,1) 0%, rgba(41,138,173,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(46,151,204,1)), color-stop(100%,rgba(41,138,173,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(46,151,204,1) 0%,rgba(41,138,173,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(46,151,204,1) 0%,rgba(41,138,173,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(46,151,204,1) 0%,rgba(41,138,173,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(46,151,204,1) 0%,rgba(41,138,173,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e97cc', endColorstr='#298aad',GradientType=0 ); /* IE6-9 */

}
a.download:link,a.download:visited
{
    color:#FFFFFF;
}
.download_dec
{
    font-style: italic;
    font-size: 13px;
    color: #C8F0FF;
}

/* Button and boxes */
.image_blue
{
    position: relative;
    top: 3px;
    left: 0px;
    padding-right: 5px;
}
.error_form {
    background: #FFD8D8 !important;
}
.info,.success,.warning,.error
{
    background-position: 10px center;
    background-repeat: no-repeat;
    border: 1px solid;
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    margin-bottom: 10px;
    moz-border-radius: 3px;
    moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    padding: 10px 5px 10px 40px;
    text-shadow: #fff 1px 1px 1px;
    webkit-border-radius: 3px;
    webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
.info
{
    background-color: #bde5f8;
    background-image: url('../img/icons/exclamation.png');
    color: #004079;
}
.infosearch
{
    display: none;
}
.success
{
    background-color: #dff2bf;
    background-image: url('../img/icons/accept.png');
    color: #3f7a00;
}
.warning
{
    background-color: #feefb3;
    background-image: url('../img/icons/error.png');
    color: #804d00;

}
.error
{
    background-color: #ffbaba;
    background-image: url('../img/icons/cancel.png');
    color: #870008;
}
.open
{
    background: #3a6da1;
    border: 1px solid #376594;
    border-radius: 3px;
    color: #fff;
    float: left;
    margin-right: 10px;
    moz-border-radius: 3px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-shadow: #004472 1px 1px;
    webkit-border-radius: 3px;
    width: 70px;
}
.onhold
{
    background: #e4ac10;
    border: 1px solid #cc9a0f;
    border-radius: 3px;
    color: #fff;
    float: left;
    margin-right: 10px;
    moz-border-radius: 3px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-shadow: #be900f 1px 1px;
    webkit-border-radius: 3px;
    width: 70px;
}
.solved
{
    background: #99CC00;
    border: 1px solid #82B900;
    border-radius: 3px;
    color: #fff;
    float: left;
    margin-right: 10px;
    moz-border-radius: 3px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-shadow: #82B900 1px 1px;
    webkit-border-radius: 3px;
    width: 70px;
}
.closed
{
    background: #CCCCCC;
    border: 1px solid #B5B5B5;
    border-radius: 3px;
    color: #fff;
    float: left;
    margin-right: 10px;
    moz-border-radius: 3px;
    padding: 2px 5px 2px 5px;
    text-align: center;
    text-shadow: #B5B5B5 1px 1px;
    webkit-border-radius: 3px;
    width: 70px;
}
.ticketsub
{
    border: 0;
    border-radius: 3px;
    color: #004c7f;
    font-size: 14px;
    font-weight: 800;
    moz-border-radius: 3px;
    padding: 2px 5px 2px 5px;
    text-align: left;
    text-shadow: #fff 1px 1px;
    webkit-border-radius: 3px;
    width: auto;
}
.ticketb_l
{
    border-right: 1px solid #eaeaea;
    color: #5a5a5a;
    float: left;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    width: 100px;
}
.ticketb_m
{
    border-right: 1px solid #eaeaea;
    color: #5a5a5a;
    float: left;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
    width: 100px;
}
.ticketb_r
{
    color: #5a5a5a;
    font-size: 12px;
    font-weight: 400;
    height: 35px;
    text-align: center;
}
.current
{
    border: 1px solid #e0e0e0;
    background: #F3F3F3;
    color: #444;
    font-weight: bold;
    padding: 4px 7px;
    border-radius: 3px;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
}
.pages
{
    border: 1px solid #e0e0e0;
    background: #ffffff;
    float: right;
    margin: -3px 0 0;
    padding: 2px 7px;
    border-radius: 3px;
    moz-border-radius: 3px;
    webkit-border-radius: 3px;
}

/* stats */
#Diagramm {
    text-align:left;
}
#Diagramm table {
    background:#EFEFEF;
    border:1px #B9B9B9 solid;
    /* CSS3 rules for rounded corners, box and text shadows: */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#Diagramm td {

    border-right:1px #AAAAAA dotted;
    padding:2px 4px;
}
#Balken {
    width:10px;
    background-color:#0066CC;
    overflow: hidden;
    /* CSS3 rules for rounded corners, box and text shadows: */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#Balken2 {
    width:10px;
    background-color:#88B828;
    overflow: hidden;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#Balken3 {
    width:10px;
    background-color:#E4690E;
    overflow: hidden;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#Tabelle {
    text-align:left;
}
#Tabelle table {
    width:600px;
    background:#EFEFEF;
    border:1px #B9B9B9 solid;
    /* CSS3 rules for rounded corners, box and text shadows: */
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}
#Tabelle td {
    border-right:1px #DBDBDB dotted;
    border-bottom:1px #AAAAAA dotted;
    padding:2px 5px;
}
/* stats - end */

/* password checker boxes - begin */
.checkform .short {
    background: #CCCCCC;
    border: 1px solid #B5B5B5;
    border-radius: 3px;
    color: #fff;
    margin-right: 10px;
    moz-border-radius: 3px;
    padding: 6px 8px 6px 8px;
    text-align: center;
    text-shadow: #B5B5B5 1px 1px;
    webkit-border-radius: 3px;
    width: 70px;
    margin-left:7px;
}

.checkform .weak {
    background: #e4ac10;
    border: 1px solid #cc9a0f;
    border-radius: 3px;
    color: #fff;
    margin-right: 10px;
    moz-border-radius: 3px;
    padding: 6px 8px 6px 8px;
    text-align: center;
    text-shadow: #be900f 1px 1px;
    webkit-border-radius: 3px;
    width: 70px;
    margin-left:7px;
}

.checkform .good {
    background: #99CC00;
    border: 1px solid #82B900;
    border-radius: 3px;
    color: #fff;
    margin-right: 10px;
    moz-border-radius: 3px;
    padding: 6px 8px 6px 8px;
    text-align: center;
    text-shadow: #82B900 1px 1px;
    webkit-border-radius: 3px;
    width: 70px;
    margin-left:7px;
}

.checkform .strong {
    background: #99CC00;
    border: 1px solid #82B900;
    border-radius: 3px;
    color: #fff;
    margin-right: 10px;
    moz-border-radius: 3px;
    padding: 6px 8px 6px 8px;
    text-align: center;
    text-shadow: #82B900 1px 1px;
    webkit-border-radius: 3px;
    width: 70px;
    font-weight: bold;
    margin-left:7px;
}
.idleField {
    background: #F0F0F0 !important;
    color: #ABABAB !important;
    text-shadow: #fff 1px 1px !important;
    border:1px #CDCDCD solid !important;
}
/* password checker boxes - end */
/* search user css */
input#search_user {
    width: 350px;
    height: 25px;
    padding: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    outline: none;
    border: 1px solid #ababab;
    font-size: 20px;
    line-height: 25px;
    color: #ababab;
}
input#search_user:hover, input#search_user:focus {
    color: #3b3b3b;
    border: 1px solid #36a2d2;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 1);
}
ul#results {
    margin: 10px 0;
    padding:0;
    width: 100%;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,.15) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
}
ul#showuser {
    margin: 10px 0;
    padding:0;
    width: 100%;
    border: 1px solid #CCC;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
    -moz-box-shadow: rgba(0,0,0,.15) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, .15) 0 1px 3px;
}
ul#results li, ul#showuser li {
    background-image: url('../img/icons/user.png');
    background-repeat: no-repeat;
    background-position:5px;
    list-style: none;
    padding: 8px 8px 8px 30px;
    cursor: pointer;
//border-top: 1px solid #cdcdcd;
    border-bottom: 1px dotted #CCC;
    transition: background-color .3s ease-in-out;
    -moz-transition: background-color .3s ease-in-out;
    -webkit-transition: background-color .3s ease-in-out;
}
ul#results li:hover, ul#showuser li:hover {
    background-color: #F7F7F7;
}
ul#results li:first-child, ul#showuser li:first-child {
    border-top: none;
}
/* search css - end */

/* wheel */

.s2win-wrapper {
    width: 450px;
}

.wheel-wrap {
    position: relative;
    width: 440px;
    height: 440px;
    overflow: hidden;
}

canvas.spin2win {
    width: 440px;
    height: 440px;
}

.spin-start {
    position: absolute;
    top: 50%;
    margin-top: -43px;
    left: 50%;
    margin-left: -43px;
    width: 86px;
    height: 86px;
    line-height: 86px;
    background: white;
    border-radius: 1000px;
    -moz-border-radius: 1000px;
    -webkit-border-radius: 1000px;
    text-align: center;
    color: #324E0A;
    text-transform: uppercase;
    font-size: 30px;
    cursor: pointer;
}

@-webkit-keyframes spinBtn {
    from {
        transform: rotate(0deg) skew(0deg);
        -webkit-transform: rotate(0deg) skew(0deg);
        -moz-transform: rotate(0deg) skew(0deg);
    }
    to {
        transform: rotate(1080deg) skew(0deg);
        -webkit-transform: rotate(1080deg) skew(0deg);
        -moz-transform: rotate(1080deg) skew(0deg);
    }
}
.spin-btn {
    animation: spinBtn 2.4s 1 cubic-bezier(.28,1,0,.98);
    -moz-animation: spinBtn 2.4s 1 cubic-bezier(.28,1,0,.98);
    -webkit-animation: spinBtn 2.4s 1 cubic-bezier(.28,1,0,.98);
}

/* HP Bar */

.progress {
    width: 100%;
}

.progress {
    padding: 4px;
    background: #f1f1f1;
    border-radius: 6px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
    position: relative;
    height: 16px;
    border-radius: 4px;
    -webkit-transition: 0.4s linear;
    -moz-transition: 0.4s linear;
    -o-transition: 0.4s linear;
    transition: 0.4s linear;
    -webkit-transition-property: width, background-color;
    -moz-transition-property: width, background-color;
    -o-transition-property: width, background-color;
    transition-property: width, background-color;
}

#hpbar {
    background-color: #5E9900;
}